* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ol,
ul {
  list-style: none;
}

body {
  font-family: "poppinsregular";
  font-size: 17px;
  color: #0b0a0a;
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 500;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "poppinsbold";
  src: url("../fonts/poppins/poppins-bold-webfont.woff2") format("woff2"), url("../fonts/poppins/poppins-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppinsmedium";
  src: url("../fonts/poppins/poppins-medium-webfont.woff2") format("woff2"), url("../fonts/poppins/poppins-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppinsregular";
  src: url("../fonts/poppins/poppins-regular-webfont.woff2") format("woff2"), url("../fonts/poppins/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
input,
textarea,
select {
  font-family: "poppinsregular";
  font-weight: 500;
}

a {
  color: #0b0a0a;
}

p {
  line-height: 1.6em;
  font-size: 16px;
  font-family: "poppinsregular";
  font-weight: 500;
  color: #0b0a0a;
}

.hidden {
  display: none;
}

br.clear {
  clear: both;
  line-height: 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
}

img {
  display: block;
  width: 100%;
}

.no_margin {
  margin-right: 0 !important;
}

button {
  cursor: pointer;
}

/* -----------------------------------------------default style ends----------------------------------------------------- */
header {
  padding: 25px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header h1.left a {
  width: 50px;
  display: block;
}
header ul.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}
header ul.right li a {
  font-size: 15px;
  font-family: "poppinsmedium";
}
header ul.right li a:active {
  color: #ff7a00;
}
header ul.right li a:hover {
  color: #ff7a00;
}
header div#menu-icon {
  display: none;
  width: 30px;
}
header ul#menu {
  display: none;
}
header ul#menu.active {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 30px;
  right: 0;
  top: 80px;
}
header ul#menu li a {
  font-size: 15px;
  font-family: "poppinsmedium";
}
header ul#menu li a:active {
  color: #ff7a00;
}
header ul#menu li a:hover {
  color: #ff7a00;
}

/* -----------------------------------------------header style ends----------------------------------------------------- */
#spotlight {
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#spotlight div.left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
}
#spotlight div.left h2 {
  font-size: 60px;
  width: 80%;
  line-height: 1.3em;
  font-family: "poppinsbold";
}
#spotlight div.left h2 span {
  color: #ff7a00;
}
#spotlight div.left p {
  font-size: 15px;
  width: 80%;
  font-family: "poppinsmedium";
  color: #858585;
}
#spotlight div.left button {
  background: #fbd573;
  box-shadow: 4px 5px 5px #efeded;
  padding: 15px 30px;
  width: 170px;
  border-radius: 20px;
  font-size: 15px;
  font-family: "poppinsmedium";
}
#spotlight div.right {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 60%;
}
#spotlight div.right div.image {
  width: 400px;
  height: 200px;
  margin-top: 90px;
  transform: translateX(100px);
}
#spotlight div.right div.image-two {
  width: 800px;
}

/* -----------------------------------------------#spotlight style ends----------------------------------------------------- */
#about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#about div.left {
  width: 50%;
}
#about div.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#about div.right h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #ff7a00;
  font-family: "poppinsmedium";
}
#about div.right h2 {
  font-family: "poppinsbold";
  font-size: 40px;
}
#about div.right h2 span {
  color: #ff7a00;
}
#about div.right p {
  font-size: 15px;
  width: 75%;
  color: #858585;
}
#about div.right p span {
  color: #ff7a00;
  font-family: "poppinsmedium";
}
#about div.right button {
  background: #fbd573;
  box-shadow: 4px 5px 5px #efeded;
  padding: 15px 30px;
  width: 170px;
  border-radius: 20px;
  font-size: 15px;
  font-family: "poppinsmedium";
}

/* -----------------------------------------------#about style ends----------------------------------------------------- */
#service {
  padding: 50px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
#service h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #ff7a00;
  font-family: "poppinsmedium";
}
#service h2 {
  font-family: "poppinsbold";
  font-size: 40px;
}
#service h2 span {
  color: #ff7a00;
}
#service p {
  font-size: 15px;
  width: 60%;
  color: #858585;
  margin: 0 auto;
}
#service ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#service ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  width: 40%;
  padding: 40px;
  border: 1px solid rgba(228, 227, 227, 0.4784313725);
  border-radius: 10px;
}
#service ul li div.left {
  width: 100px;
}
#service ul li div.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}
#service ul li div.right h4 {
  font-family: "poppinsmedium";
  font-size: 20px;
}
#service ul li div.right p {
  margin: 0;
  width: 100%;
}
#service ul li:first-child {
  background: #fff;
  box-shadow: 4px 5px 5px #efeded;
  border: 0.5px solid #fff;
}
#service button {
  background: #fbd573;
  box-shadow: 4px 5px 5px #efeded;
  padding: 15px 30px;
  width: 170px;
  border-radius: 20px;
  font-size: 15px;
  font-family: "poppinsmedium";
}

/* -----------------------------------------------#service style ends----------------------------------------------------- */
#overview {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#overview div.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#overview div.left h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #ff7a00;
  font-family: "poppinsmedium";
}
#overview div.left h2 {
  font-family: "poppinsbold";
  font-size: 40px;
}
#overview div.left h2 span {
  color: #ff7a00;
}
#overview div.left p {
  font-size: 15px;
  width: 75%;
  color: #858585;
}
#overview div.left p span {
  color: #ff7a00;
  font-family: "poppinsmedium";
}
#overview div.left button {
  background: #fbd573;
  box-shadow: 4px 5px 5px #efeded;
  padding: 15px 30px;
  width: 170px;
  border-radius: 20px;
  font-size: 15px;
  font-family: "poppinsmedium";
}
#overview div.right {
  width: 50%;
}

/* -----------------------------------------------#overview style ends----------------------------------------------------- */
#location {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
#location h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #ff7a00;
  font-family: "poppinsmedium";
}
#location h2 {
  font-family: "poppinsbold";
  font-size: 40px;
}
#location h2 span {
  color: #ff7a00;
}
#location div.map {
  width: 80%;
}

/* -----------------------------------------------#location style ends----------------------------------------------------- */
#testimonial {
  padding: 50px 0 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
#testimonial h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #ff7a00;
  font-family: "poppinsmedium";
}
#testimonial h2 {
  font-family: "poppinsbold";
  font-size: 40px;
}
#testimonial h2 span {
  color: #ff7a00;
}
#testimonial ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}
#testimonial ul li {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 30%;
  padding: 50px 20px 20px 20px;
  position: relative;
}
#testimonial ul li:nth-child(2) {
  border: #fff 2px solid;
  border-radius: 20px;
  background: #fff;
  box-shadow: 2px 4px 30px 1px rgb(133, 133, 133);
}
#testimonial ul li:hover {
  border: #fff 2px solid;
  border-radius: 20px;
  background: #fff;
  box-shadow: 2px 4px 30px 1px rgb(133, 133, 133);
}
#testimonial ul li div.profile {
  width: 60px;
  position: absolute;
  top: -30px;
}
#testimonial ul li div.profile img {
  border-radius: 50%;
}
#testimonial ul li p {
  color: #858585;
  font-size: 15px;
}
#testimonial ul li div.author {
  border-top: 1px solid #e9e9e9;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#testimonial ul li div.author div.author-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#testimonial ul li div.author div.author-details h5 {
  font-family: "poppinsmedium";
  font-size: 18px;
}
#testimonial ul li div.author div.author-details p {
  font-size: 14px;
  color: #858585;
}
#testimonial ul li div.author div.stars {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
#testimonial ul li div.author div.stars div.star {
  width: 20px;
}

/* -----------------------------------------------#testimonial style ends----------------------------------------------------- */
#join {
  background-image: url("../images/background - work for us.png");
  background-position: right;
  background-repeat: no-repeat;
  border-radius: 20px;
  width: 70%;
  padding: 100px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#join h2 {
  font-family: "poppinsbold";
  font-size: 40px;
}
#join h2 span {
  color: #ff7a00;
}
#join p {
  font-size: 15px;
  width: 70%;
  margin: 0 auto;
}
#join div.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#join div.container div.input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  width: 50%;
  padding: 20px;
  border-radius: 10px;
}
#join div.container div.input input {
  display: none;
}
#join div.container div.input label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#join div.container div.input label span {
  color: #858585;
  font-size: 12px;
}
#join div.container div.input label div.icon {
  width: 20px;
}
#join div.container button {
  background: #080133;
  color: #fff;
  padding: 22px 22px;
  width: 170px;
  border-radius: 20px;
  font-size: 15px;
  font-family: "poppinsmedium";
}

/* -----------------------------------------------#join style ends----------------------------------------------------- */
footer {
  padding: 150px 0 20px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
footer div.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
footer div.top div.top-left {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 40%;
}
footer div.top div.top-left h1 a {
  display: block;
  width: 60px;
}
footer div.top div.top-left p {
  color: #858585;
  font-size: 15px;
  width: 80%;
  line-height: 2em;
}
footer div.top ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 50px;
}
footer div.top ul li {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
}
footer div.top ul li h3 {
  font-family: "poppinsbold";
  font-size: 17px;
  margin-bottom: 10px;
}
footer div.top ul li a {
  color: #858585;
  font-size: 13px;
  font-family: "poppinsmedium";
}
footer div.top ul li p {
  color: #858585;
  font-size: 13px;
  font-family: "poppinsmedium";
}
footer div.top ul li div.social-icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
footer div.top ul li div.social-icons div.social-icon {
  width: 40px;
  height: 40px;
  padding: 10px;
  background: #fbd573;
  border-radius: 50px;
}
footer div.top ul li div.social-icons div.social-icon img {
  height: 100%;
}
footer div.bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #e9e9e9;
}
footer div.bottom p {
  font-size: 13px;
  color: #312d2d;
}
footer div.bottom p a {
  color: #ff7a00;
}/*# sourceMappingURL=style.css.map */